<!-- Dynamically creates menu from @menu object >
<! Menu items are their own links >
<! Menu items have a parameter called method that contains the method_name that should be called next.  This is what is used as the urls. -->
<header>
  <h1>Flash Card Game</h1>
  <nav>
    <ul>
      <li><a href = "/home">home </a></li>
    </ul>
  </nav>
</header>


<div id ="primary">
  <p><em><%= tell_user_if_they_are_correct %></em></p>
  <br>
  <h1>The question was: <%= params["game"]["answer"]%></h1>

  <p>The answer was: </p>
  <p><%= params["game"]["answer"] %></p>


  <br>
  <p>Here is more information:</p>
  <p><%= params["game"]["message"] %></p>
  <br>
  <br>
  <a href = "../<%= "#{params['class_name']}" %>/multi_choice">Play again?</a>
</div>