<!-- Dynamically creates menu from @menu object >
<! Menu items are their own links >
<! Menu items have a parameter called method that contains the method_name that should be called next.  This is what is used as the urls. -->
<header>
  <nav>
    <ul>
      <li><a href = "/home">home </a></li>
      <li><a href = "../../<%= params["class_name"] %>"><%=params["class_name"]%></a></li>
    </ul>
  </nav>
</header>

<div id = "primary">
  <div class="message"><p><%= @message %></p></div>
  
  <h1><%=@menu.title%></h1>

   <%= self.method(@html_type).call(@menu, @with_links) %>

</div>