<!-- Dynamically creates menu from @menu object >
<! Menu items are their own links >
<! Menu items have a parameter called method that contains the method_name that should be called next.  This is what is used as the urls. -->
<header>
  <a href = "/home">home </a>
  <br>
  <a href = "../../<%= params["class_name"] %> "><%=params["class_name"] %></a>
</header>
<body>
  <p><%= @message %></p>
<h1><%=@menu.title%></h1>

   <%= self.method(@html_type).call(@menu, @with_links) %>

</body>